body {
    margin: 0;
    padding: 0;
    background-color: #7f7c7c;
}
.container {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3%;
}
.postGeneral{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}
.postHeader{
    font-size: xx-small;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-top: 2%;
}
p {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 0;
}
.postFooterIcons{
    display: flex;
    align-items: center;
    gap: 2%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 4%;
    margin-bottom: 2%;
    font-size: medium;
}
.postFooterText{
    padding-top: 2%;
}
img{
    width: 100%;
    object-fit:cover;
}
.iconoHeader1{
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}
.iconoHeader2{
    margin-right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}
.separador{
    flex:1;
}
.p1{
    margin: 3%;
}
.p2{
    margin: 3%;
}

